<app-header></app-header>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img height="400px" class="card-img-top mb-5 mb-md-0" [src]="productData.image" alt="..." /></div>
            <div class="col-md-6">
               
                <h1 class="display-5 fw-bolder">{{productData.title}}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span> -->
                    <span>${{productData.price}}</span>
                </div>
                <p class="lead">{{productData.description}}</p>
                <div class="d-flex justify-content-around">
                    <a class="btn btn-outline-danger" (click)="addToWishList(productData.id)"><i class="fa-solid fa-heart"></i>Add to wishlist</a>
                    <a class="btn btn-outline-success" (click)="addToCart(productData.id)"><i class="fa-solid fa-cart-shopping"></i>Add to cart</a>
                    
                </div>
            </div>
        </div>
    </div>
</section>