<app-header></app-header>
<div>
    <div *ngIf="allCartItems.length == 0" class="d-flex justify-content-center align-items-center flex-column">
        <img src="https://cdn-icons-png.flaticon.com/512/11329/11329060.png" alt="" width="500px">
        <h3 class="text-danger">Your cart is empty</h3>
        <button class="btn text-success fw-bold text-uppercase text-underline" style="text-decoration: underline;"
            routerLink="">Add items to your cart</button>
    </div>
    <div class="container-fluid p-3 mt-3" *ngIf="allCartItems.length > 0">
        <h3 class="text-danger text-center">CART SUMMARY</h3>
        <div class="row w-100">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <table class="table shadow mt-4 border rounded text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of allCartItems; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ product.title }}</td>
                            <td>
                                <img [src]="product.image" alt="" height="75px" width="75px">
                            </td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <button class="btn fw-bolder fs-4" (click)="decrementCartProduct(product._id)">-</button>
                                    <input type="number" class="form-control text-center" style="max-width: 3rem;" [value]="product.quantity">
                                    <button class="btn fw-bolder fs-4" (click)="incrementCartProduct(product._id)">+</button>
                                </div>
                            </td>
                            <td>{{ product.price }}</td>
                            <td>
                                <button class="btn btn-outline-danger mt-2" (click)="removeItem(product._id)"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-danger" (click)="emptyCart()">EMPTY CART</button>
                    <button class="btn btn-outline-success ms-3" routerLink="/">ADD MORE</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border shadow rounded p-4 mt-4">
                    <h3>Grand Total: <span class="text-primary">{{totalPrice}}</span></h3>
                    <button class="btn btn-success mt-3" routerLink="/checkout" (click)="checkout()">Checkout</button>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
